<h1>My Workouts</h1>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Goal</th>
      <th>Duration</th>
      <th>Intensity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.workout_type %></td>
        <td><%= workout.goal %></td>
        <td><%= workout.duration %> minutes</td>
        <td><%= workout.intensity %></td>
        <td>
          <%= link_to 'Show', [workout.user, workout] %>
          <%= link_to 'Edit', edit_workout_path(workout) %>
          <%= link_to 'Destroy', workout_path(workout), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Workout', new_user_workout_path(@user) %>
