<div class="w-full min-h-screen flex flex-col items-center bg-[#0e0e0e]">
  <!-- Container for Profile Section and Cards with Padding -->
  <div class="w-full max-w-[450px] p-3 space-y-6">
    <!-- Profile Section -->
    <div class="w-full flex items-center mt-4 mb-4">
      <div class="w-[60px] h-[60px] bg-[#393939] rounded-full"></div>
      <div class="ml-4">
        <div class="text-white text-lg font-semibold"><%= @user.name %></div>
        <div class="text-[#6a6a6a] text-xs">
          <% if @user.date_of_birth && @user.height && @user.weight %>
            <%= @user_age %> anos - <%= @user.weight %> kg - <%= @user.height / 100.0 %> m
          <% else %>
            <%= link_to "Concluir dados de cadastro", edit_user_path(@user), class: "text-[#ff8137] hover:underline" %>
          <% end %>
        </div>

      <!-- Logout Button -->
      <div>
        <%= button_to destroy_user_session_path, method: :delete, class: "text-[#ff8137] text-sm hover:text-white transition" do %>
          <i class="fa fa-sign-out-alt"></i> Logout
        <% end %>
      </div>
      </div>
    </div>

    <!-- Progress Card -->
    <div class="w-full bg-[#202020] rounded-[30px] px-4 py-6">
      <div class="text-white text-base font-semibold mb-3">Meu Progresso</div>
      <div class="flex justify-between items-center text-[#9c9c9c] text-xs mb-3">
        <span>0</span>
        <span>500</span>
      </div>
      <div class="flex justify-between text-white text-sm mb-3">
        <span>Dom</span>
        <span>Seg</span>
        <span>Ter</span>
        <span>Qua</span>
        <span>Qui</span>
        <span>Sex</span>
        <span>Sáb</span>
      </div>
      <div class="flex justify-between items-end h-20">
        <% %w[Sun Mon Tue Wed Thu Fri Sat].each do |day| %>
          <div class="bg-[#a52502] w-2" style="height: <%= (@calories_burned_per_day[day] || 0) / 500.0 * 100 %>%" rounded-md"></div>
        <% end %>
      </div>
    </div>

    <!-- Training Card -->
    <%= link_to select_equipment_machines_path, class: "w-full bg-gradient-to-b from-[#a52502] to-[#390d02] rounded-[30px] px-4 py-6 relative cursor-pointer block", data: { turbo: false } do %>
      <div class="absolute inset-0 bg-[#ff8137] opacity-20 rounded-[30px]"></div>
      <div class="relative">
        <div class="bg-[#0e0e0e]/10 rounded-full px-4 py-2 inline-block mb-4">
          <div class="text-white text-xs font-medium">Avançado</div>
        </div>
        <div class="text-white text-lg font-semibold">Iniciar Treino</div>
        <div class="text-white text-xs">Treino focado em alta intensidade</div>
      </div>
    <% end %>

    <!-- History Card -->
    <%= link_to user_workouts_path(current_user.id), class: "w-full bg-gradient-to-b from-[#1c8394] to-[#154b52] rounded-[30px] px-4 py-6 relative cursor-pointer block" do %>
      <div class="absolute inset-0 bg-[#ff8137] opacity-20 rounded-[30px]"></div>
      <div class="relative">
        <div class="bg-[#0e0e0e]/10 rounded-full px-4 py-2 inline-block mb-4">
          <div class="text-white text-xs font-medium">Iniciante</div>
        </div>
        <div class="text-white text-lg font-semibold">Histórico de Treino</div>
        <div class="text-white text-xs">Acompanhe sua progressão</div>
      </div>
    <% end %>

  <!-- Bottom Navigation -->
  <div class="w-full max-w-[450px] bg-[#0e0e0e] rounded-t-[30px] p-4 flex justify-around items-center mt-auto">
    <div class="text-white"><i class="fa fa-home"></i></div>
    <div class="text-white"><i class="fa-solid fa-chart-column"></i></div>
    <%= link_to select_equipment_machines_path,
                class: "bg-[#a52502] rounded-full p-4 flex justify-center items-center",
                data: { turbo: false } do %>
      <i class="fa fa-dumbbell text-white"></i>
    <% end %>
    <%= link_to prescribed_workouts_user_path(current_user),
                class: "text-white" do %>
      <i class="fa fa-calendar-alt"></i>
    <% end %>
    <%= link_to user_path(current_user),
                class: "text-white" do %>
      <i class="fa fa-user"></i>
    <% end %>
  </div>

</div>
