<!-- app/views/welcome/index.html.erb -->
<h1>Bem vindo</h1>

<% if user_signed_in? %>
  <p>Bem vindo, <%= current_user.name %> e <%= current_user.email %>. Você está logado.</p>
<% elsif personal_signed_in? %>
  <p>Bem vindo, <%= current_personal.name %> e <%= current_personal.email %>. Você está logado.</p>
<% elsif gym_signed_in? %>
  <p>Bem vindo, <%= current_gym.name %> e <%= current_gym.email %>. Você está logado.</p>
<% else %>
  <p>Por favor, <a href="<%= new_user_session_path %>">faça login</a> ou <a href="<%= new_user_registration_path %>">inscreva-se</a>.</p>
<% end %>
