  <!-- New Personal Form -->
  <div class="w-full max-w-[428px] bg-[#202020] rounded-[30px] px-6 py-6 mb-4">
    <%= form_with(model: @personal, url: personals_path(gym_id: @gym_id), local: true) do |form| %>
      <% if @personal.errors.any? %>
        <div id="error_explanation" class="mb-4 text-red-500">
          <h2 class="font-semibold"><%= pluralize(@personal.errors.count, "erro") %> impediram o salvamento:</h2>
          <ul class="list-disc list-inside">
            <% @personal.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="space-y-4">
        <div class="field">
          <%= form.label :name, "Nome Completo", class: "text-white text-sm font-medium" %>
          <%= form.text_field :name, class: "w-full bg-[#303030] text-white border-none rounded-md px-4 py-2" %>
        </div>

        <div class="field">
          <%= form.label :email, "E-mail", class: "text-white text-sm font-medium" %>
          <%= form.email_field :email, class: "w-full bg-[#303030] text-white border-none rounded-md px-4 py-2" %>
        </div>

        <% if flash[:alert] %>
          <div class="w-full bg-[#ff4d4d] border border-[#ff1a1a] text-white text-sm font-bold rounded-md px-4 py-2 mb-4 shadow-md flex items-center">
            <i class="fa fa-exclamation-circle mr-2"></i>
            <span><%= flash[:alert] %></span>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :password, "Senha (apenas para novos personais)", class: "text-white text-sm font-medium" %>
          <%= form.password_field :password, autocomplete: "new-password", class: "w-full bg-[#303030] text-white border-none rounded-md px-4 py-2" %>
        </div>


        <div class="actions flex justify-between mt-4">
          <%= form.submit "Salvar", class: "bg-[#a52502] text-white font-semibold px-6 py-2 rounded-full" %>
          <%= link_to 'Cancelar', dashboard_gym_path(@gym), class: "bg-[#303030] text-white font-semibold px-6 py-2 rounded-full flex items-center justify-center" %>
        </div>

      </div>
    <% end %>
  </div>
