<!--==============================
Preloader
==============================-->
<div class="preloader ">
    <div class="preloader-inner">
        <span class="loader"></span>
    </div>
</div>

<!--==============================
Mobile Menu
==============================-->
<div class="mobile-menu-wrapper">
  <div class="mobile-menu-area text-center">
    <div class="mobile-logo">
      <%= link_to image_tag('spierfit_190x46.png', alt: 'Spierfit'), root_path %>
    </div>
    <div class="mobile-menu">
      <ul>
        <a href="https://wa.me/+554499707380" class="btn">Saiba mais</a>
      </ul>
    </div>
  </div>
</div>

<!--==============================
Header Area
==============================-->
<header class="nav-header header-layout1">
    <div class="header-top d-lg-block d-none">
        <div class="container-fluid">
            <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                <div class="col-auto d-none d-lg-block">
                    <div class="header-links">
                        <ul>
                            <li><i class="far fa-envelope"></i><%= mail_to 'pedro.olimpio@spierfit.com', 'pedro.olimpio@spierfit.com' %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-links">
                        <ul>
                            <li>
                                <div class="social-links">
                                    <span class="me-3">Visite nossas redes sociais</span>
                                    <%= link_to content_tag(:i, '', class: 'fab fa-instagram'), 'https://www.instagram.com/spierfit/' %>
                                    <%#= link_to content_tag(:i, '', class: 'fab fa-facebook-f'), 'https://www.facebook.com/spierfit' %>
                                    <%#= link_to content_tag(:i, '', class: 'fab fa-linkedin-in'), 'https://www.linkedin.com/spierfit' %>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper">
        <!-- Main Menu Area -->
        <div class="menu-area">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-start justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <%= link_to image_tag('spierfit_190x46.png', alt: 'logo'), root_path %>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                          <ul>
                            <li><%= link_to 'Benefícios', '#beneficios' %></li>
                            <li><%= link_to 'Como Ajudamos', '#como-ajudamos' %></li>
                            <li><%= link_to 'Nossa Tecnologia', '#nossa-tecnologia' %></li>
                            <li><%= link_to 'Contato', '#contato' %></li>
                          </ul>
                        </nav>
                        <div class="navbar-right d-inline-flex d-lg-none">
                            <%= link_to 'Login', new_user_session_path, class: 'btn' %>
                        </div>
                    </div>
                    <div class="col-auto ms-auto d-lg-block d-none">
                    <div class="col-auto d-none d-lg-block">
                    </div>
                        <div class="header-button">
                        <%= link_to 'Login', new_user_session_path, class: 'btn d-xl-block d-none' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>




<!--==============================
Hero Area
==============================-->
<div class="hero-wrapper hero-1" id="hero">
  <div class="global-carousel" id="heroSlider1" data-fade="true" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">
    <div class="hero-slider" data-bg-src="<%= asset_path('banner_3_v2_1920x856.png') %>">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <div class="hero-style1">
              <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0s">No data, no gain</span>
              <h1 class="hero-title text-white" data-ani="slideinup" data-ani-delay="0.1s">
                Solução para <span>Academias</span> Inteligentes
              </h1>
              <div class="btn-group" data-ani="slideinup" data-ani-delay="0.2s">
                <a href="https://wa.me/+554499707380" class="btn">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-slider" data-bg-src="<%= asset_path('banner_2_v2_1920x856.png') %>">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <div class="hero-style1">
              <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0s">No data, no gain</span>
              <h1 class="hero-title text-white" data-ani="slideinup" data-ani-delay="0.1s">
                Solução para <span>Academias</span> Inteligentes
              </h1>
              <div class="btn-group" data-ani="slideinup" data-ani-delay="0.2s">
                <a href="https://wa.me/+554499707380" class="btn">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-arrow">
    <button data-slick-prev="#heroSlider1" class="slick-arrow slick-prev">
      <i class="fas fa-arrow-up"></i>
    </button>
    <button data-slick-next="#heroSlider1" class="slick-arrow slick-next">
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>

</div>


<!--==============================
Service Area 01
==============================-->
<div id="beneficios" class="service-area-1 space overflow-hidden">
  <div class="container">
    <div class="title-area">
      <span class="sub-title">Benefícios</span>
      <h2 class="sec-title">Como Podemos Ajudar Sua Academia</h2>
    </div>
  </div>

  <div class="container-fluid p-0 px-lg-3">
    <div class="row global-carousel service-slider-1" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-dots="false">
      <div class="col-lg- col-md-6">
        <div class="service-card">
          <div class="service-card_icon">
            <i class="fas fa-cogs" style="width: 44px; height: 52px;"></i>
          </div>
          <div class="service-card_content">
            <h4 class="service-card_title h5">Instalação Simples</h4>
            <p class="service-card_text">Compatível com todos os equipamentos da sua academia.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-card">
          <div class="service-card_icon">
            <i class="fas fa-comment-alt" style="width: 44px; height: 52px;"></i>
          </div>
          <div class="service-card_content">
            <h4 class="service-card_title h5">Feedback Imediato</h4>
            <p class="service-card_text">Acompanhe cada treino com métricas instantâneas e precisas.</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="service-card">
          <div class="service-card_icon">
            <i class="fas fa-chart-line" style="width: 44px; height: 52px;"></i>
          </div>
          <div class="service-card_content">
            <h4 class="service-card_title h5">Análise Precisa</h4>
            <p class="service-card_text">Obtenha insights valiosos para melhorar o treino de seus clientes.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-card">
          <div class="service-card_icon">
            <i class="fas fa-dumbbell" style="width: 44px; height: 52px;"></i>
          </div>
          <div class="service-card_content">
            <h4 class="service-card_title h5">Treinos Adaptados</h4>
            <p class="service-card_text">Crie planos de treino personalizados para cada cliente.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-card">
          <div class="service-card_icon">
            <i class="fas fa-heart" style="width: 44px; height: 52px;"></i>
          </div>
          <div class="service-card_content">
            <h4 class="service-card_title h5">Cliente Fidelizado</h4>
            <p class="service-card_text">Uma experiência única que mantém seus alunos engajados.</p>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>

<!--==============================
Why-choose-us Area
==============================-->
<div id="como-ajudamos" class="service-bg-area" data-bg-src="<%= asset_path('banner_4_1920x1581.png') %>">
  <div class="sec-shape-top">
    <%= image_tag 'bg/sec-shape-top.png', alt: 'img' %>
  </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="wcu-thumb">
                        <%= image_tag 'partner_1_533x595.jpg', alt: 'img', class: 'img-1' %>
                    </div>
                </div>

                <!-- Texto e Título alterados para refletir problemas potenciais -->
                <div class="col-lg-6">
                  <div class="wcu-wrap">
                    <div class="title-area mb-50">
                      <span class="sub-title">Como Ajudamos</span>
                      <h2 class="sec-title text-white">Você Enfrenta Estes Desafios?</h2>
                      <p class="sec-text text-white">Sabemos que muitas academias enfrentam desafios que podem impactar seus negócios e a satisfação dos seus clientes. Veja alguns dos problemas que podemos ajudar a resolver:</p>
                    </div>

                    <!-- Accordion para destacar cada problema potencial -->
                    <div class="accordion-area accordion" id="faqAccordion">
                      <div class="accordion-card active">
                        <div class="accordion-header" id="collapse-item-1">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                            Custo elevado para aquisição de novos equipamentos
                          </button>
                        </div>
                        <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                          <div class="accordion-body">
                            <p class="faq-text">Equipamentos de alta qualidade e tecnologia avançada são essenciais para atrair e reter clientes, mas o custo de aquisição pode ser proibitivo para muitas academias. Esse investimento pode comprometer o fluxo de caixa, especialmente em um mercado competitivo, onde a renovação constante do maquinário é vista como um diferencial. Porém, muitas vezes, os benefícios desses equipamentos não são aproveitados ao máximo pela falta de integração tecnológica, o que dificulta o retorno sobre o investimento. Nossa solução permite otimizar o uso dos equipamentos já existentes, maximizando sua eficiência e prolongando seu ciclo de vida, evitando a necessidade de gastos frequentes com novas aquisições.</p>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-card">
                        <div class="accordion-header" id="collapse-item-2">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                            Dificuldade em se diferenciar no mercado
                          </button>
                        </div>
                        <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                          <div class="accordion-body">
                            <p class="faq-text">Em um mercado saturado, onde academias oferecem serviços semelhantes, a dificuldade em se destacar é uma preocupação constante. Muitas vezes, os diferenciais tradicionais, como a oferta de aulas específicas ou personal trainers, não são suficientes para atrair um público que valoriza inovação e resultados mensuráveis. Nossa tecnologia oferece a vantagem competitiva que você precisa, ao integrar dados e análises avançadas no dia a dia da sua academia. Com monitoramento em tempo real do desempenho dos clientes e feedbacks personalizados, sua academia se posiciona como líder em inovação, entregando uma experiência de treino superior.</p>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-card">
                        <div class="accordion-header" id="collapse-item-3">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                            Dificuldade em medir a satisfação dos clientes
                          </button>
                        </div>
                        <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                          <div class="accordion-body">
                            <p class="faq-text">Sem métricas claras, muitas academias operam no escuro quando se trata de entender a real satisfação de seus clientes. A falta de dados detalhados sobre o uso dos serviços e o desempenho durante os treinos impede que os gestores façam ajustes necessários para melhorar a experiência dos usuários. Nossa solução coleta e analisa dados em tempo real, oferecendo insights valiosos sobre o comportamento dos seus clientes, sua evolução e preferências. Isso não só ajuda a melhorar os serviços oferecidos, mas também possibilita uma comunicação mais eficiente e personalizada, criando uma conexão mais forte e duradoura com o cliente.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>

  <div id="nossa-tecnologia" class="sec-shape-bottom">
    <%= image_tag 'bg/sec-shape-bottom.png', alt: 'img' %>
  </div>
</div>

<!--==============================
Nossos Serviços
==============================-->
<div class="space-bottom">
    <div class="container">
        <div class="row">
            <!-- Conteúdo do lado esquerdo -->
            <div class="col-lg-6">
                <div class="about-content-wrap">
                    <div class="title-area mb-0">
                      <span class="sub-title">Nossa Tecnologia</span>
                      <h2 class="sec-title">Maximize o Potencial da Sua Academia</h2>
                      <p class="sec-text">Na SpierFit, oferecemos soluções tecnológicas avançadas que transformam o ambiente de treino. Instalamos sensores que coletam e analisam dados em tempo real, proporcionando insights valiosos para melhorar a experiência dos seus clientes e aumentar a eficiência da sua academia.</p>

                        <!-- Tabs para Missão, Visão e Objetivo -->
                        <div id="contato" class="about-tab-1">
                            <div class="filter-menu-active">
                                <button data-filter=".cat1" class="active" type="button">Instalação Rápida</button>
                                <button data-filter=".cat2" type="button">Análise de Dados</button>
                                <button data-filter=".cat3" type="button">Feedback Personalizado</button>
                            </div>

                            <div class="filter-active-cat1">
                                <!-- Instalação Rápida -->
                                <div class="filter-item cat1">
                                    <div class="about-tab-icon">
                                        <i class="fas fa-stopwatch red-icon"></i>
                                    </div>
                                    <p class="about-tab-text">Nossa equipe instala sensores de última geração em seus equipamentos de forma rápida e eficaz, sem interromper as operações da academia.</p>
                                </div>

                                <!-- Análise de Dados -->
                                <div class="filter-item cat2">
                                    <div class="about-tab-icon">
                                        <i class="fas fa-chart-line red-icon"></i>
                                    </div>
                                    <p class="about-tab-text">Coletamos e processamos dados em tempo real, oferecendo análises detalhadas sobre o desempenho dos seus clientes e o uso dos equipamentos.</p>
                                </div>

                                <!-- Feedback Personalizado -->
                                <div class="filter-item cat3">
                                    <div class="about-tab-icon">
                                        <i class="fas fa-clipboard-check red-icon"></i>
                                    </div>
                                    <p class="about-tab-text">Com base nos dados coletados, fornecemos feedbacks personalizados para os seus clientes, aumentando a retenção e a satisfação geral.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Call to Action e Informações de Contato -->
                    <div class="btn-wrap mt-40">
                        <a href="https://wa.me/+554499707380" class="btn">Saiba mais</a>
                        <%#= link_to 'Fale Conosco', "#", class: 'btn' %>
                        <div class="about-info-wrap">
                            <div class="icon"><i class="fas fa-phone-volume"></i></div>
                            <div class="details">
                                <p class="about-info-title">Precisa de Ajuda?</p>
                                <%= link_to '(44) 9970-7380', 'https://wa.me/+554499707380', class: 'about-info-link' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Imagem do lado direito -->
            <div class="col-lg-6">
                <div class="about-thumb mb-5 mb-lg-0">
                  <%= image_tag 'cardio_room.gif', alt: 'img', class: 'about-img-1' %>
                </div>
            </div>
        </div>
    </div>
</div>


<!--==============================
Footer Area
==============================-->
<footer class="footer-wrapper footer-layout1" data-bg-src="<%= asset_path('bg/footer-1-bg.png') %>">
  <div class="container">
    <div class="contact-card">
      <div class="info-card">
        <div class="info-card_icon"><i class="fas fa-location-dot"></i></div>
        <div class="info-card_content">
          <p class="info-card_text">Localização</p>
          <%= link_to 'Maringá', 'https://www.google.com/maps/place/Maring%C3%A1,+State+of+Paran%C3%A1,+Brazil/@-23.4101972,-52.1333672,11z/data=!3m1!4b1!4m6!3m5!1s0x94ecd6ee42618c1f:0xc356592828e03925!8m2!3d-23.4209995!4d-51.9330558!16zL20vMDF0dnpx?entry=ttu&g_ep=EgoyMDI0MTAwOS4wIKXMDSoASAFQAw%3D%3D', class: 'info-card_link' %>
        </div>
      </div>
      <div class="info-card">
        <div class="info-card_icon"><i class="fas fa-envelope"></i></div>
        <div class="info-card_content">
          <p class="info-card_text">E-mail de contato</p>
          <%= mail_to 'mateus.saad@spierfit.com', 'mateus.saad@spierfit.com', class: 'info-card_link' %>
        </div>
      </div>
      <div class="info-card">
        <div class="info-card_icon"><i class="fas fa-phone-volume"></i></div>
        <div class="info-card_content">
          <p class="info-card_text">Contato</p>
          <%= link_to '+(55) 44 9970-7380', 'https://wa.me/+554499707380', class: 'info-card_link' %>
        </div>
      </div>
    </div>

  <div class="widget-area">
    <div class="row justify-content-center"> <!-- Mude justify-content-between para justify-content-center -->
      <div class="col-auto"> <!-- Mude col-md-6 col-xl-3 para col-auto para ajuste automático -->
        <div class="widget footer-widget">
          <div class="widget-about">
            <div class="footer-logo text-center"> <!-- Adicione text-center para centralizar o conteúdo -->
              <%= link_to image_tag('spierfit_v1_165x85.png', alt: 'Spierfit'), root_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-wrap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto align-self-center">
          <p class="copyright-text text-center">
            © 2024 <%= link_to 'SpierFit', '#' %>. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll To Top -->
<div class="scroll-top">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
  </svg>
</div>
