<h1>Exercícios para <%= @machine.name %></h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Grupo Muscular</th>
      <th>Descrição</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.muscle_group %></td>
        <td><%= exercise.description %></td>
        <td><%= link_to 'Iniciar Exercício', start_exercise_set_machine_path(@machine, exercise_id: exercise.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
