<div class="w-full min-h-screen flex flex-col items-center bg-[#0e0e0e] p-4">
  <div class="w-full max-w-[450px] space-y-8">
    <!-- Título -->
    <h2 class="text-2xl font-bold text-white text-center"><%= @machine.new_record? ? 'Adicionar Aparelho' : 'Editar Aparelho' %></h2>

    <!-- Exibição de erros, se houver -->
    <% if @machine.errors.any? %>
      <div class="bg-red-500 text-white rounded-lg p-4">
        <h3 class="font-semibold">Por favor, corrija os seguintes erros:</h3>
        <ul>
          <% @machine.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Formulário de Criação/Edição de Máquina -->
    <%= form_with(model: @machine, local: true, class: "space-y-6 w-full") do |form| %>

      <!-- Nome do Aparelho -->
      <div class="w-full bg-[#303030] rounded-[30px] px-4 py-4 flex flex-col">
        <%= form.label :name, class: "text-white text-sm font-medium mb-2" %>
        <%= form.select :name, options_for_select(@equipment_list, @machine.name), { prompt: 'Selecione o Equipamento' }, class: "bg-[#202020] text-white border-none rounded-md py-2 px-3 text-lg" %>
      </div>

      <!-- MAC Address -->
      <div class="w-full bg-[#303030] rounded-[30px] px-4 py-4 flex flex-col">
        <%= form.label :mac_address, class: "text-white text-sm font-medium mb-2" %>
        <%= form.text_field :mac_address, class: "bg-[#202020] text-white border-none rounded-md py-2 px-3 text-lg", placeholder: "Ex: AA:BB:CC:DD:EE:FF" %>
      </div>

      <!-- Descrição do Aparelho -->
      <div class="w-full bg-[#303030] rounded-[30px] px-4 py-4 flex flex-col">
        <%= form.label :description, class: "text-white text-sm font-medium mb-2" %>
        <%= form.text_area :description, class: "bg-[#202020] text-white border-none rounded-md py-2 px-3 text-lg" %>
      </div>

      <!-- Lista de Exercícios -->
      <div class="w-full bg-[#303030] rounded-[30px] px-4 py-4 flex flex-col">
        <%= form.label :exercises, class: "text-white text-sm font-medium mb-2" %>
        <%= form.collection_check_boxes :exercise_ids, Exercise.all, :id, :name do |b| %>
          <div class="flex items-center">
            <%= b.check_box(class: "mr-2") %>
            <%= b.label(class: "text-white text-sm") %>
          </div>
        <% end %>
      </div>

      <!-- Botão de Submissão -->
      <div class="w-full bg-gradient-to-b from-[#a52502] to-[#390d02] rounded-[30px] flex justify-center items-center py-3">
        <%= form.submit @machine.new_record? ? "Salvar Aparelho" : "Atualizar Aparelho", class: "text-center text-white text-lg font-bold" %>
      </div>
    <% end %>

    <!-- Botão de Voltar -->
    <div class="w-full text-center mt-3">
      <%= link_to 'Voltar', gym_machines_path(current_gym), class: "text-blue-500 underline" %>
    </div>
  </div>
</div>
