<%= form_with(model: @machine, local: true) do |form| %>
  <% if @machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine.errors.count, "error") %> prohibited this machine from being saved:</h2>
      <ul>
        <% @machine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.select :name, options_for_select(@equipment_list), { prompt: 'Select Equipment' } %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :compatible_exercises %>
    <%= form.select :compatible_exercises, options_for_select(Exercise.all.pluck(:name), @machine.compatible_exercises), { prompt: 'Select Exercises' }, { multiple: true } %>
  </div>

  <% if action_name == 'edit' %>
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, ['ativo', 'inativo'] %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
