<div class="w-full min-h-screen flex flex-col items-center bg-[#0e0e0e] p-4">
  <div class="w-full max-w-[450px] space-y-6">
    <!-- Título e botão "Nova Máquina" -->
    <div class="flex justify-between items-center w-full">
      <h2 class="text-2xl font-bold text-white">Máquinas</h2>
      <%= link_to 'Nova Máquina', new_machine_path, class: "bg-gradient-to-b from-[#a52502] to-[#390d02] text-white rounded-full py-2 px-4 text-sm font-bold" %>
    </div>

    <!-- Tabela de Máquinas -->
    <div class="w-full overflow-x-auto">
      <table class="min-w-full bg-[#202020] rounded-[30px] text-white">
        <thead>
          <tr class="bg-[#303030]">
            <th class="py-3 px-4 text-left">Nome</th>
            <th class="py-3 px-4 text-left">Descrição</th>
            <th class="py-3 px-4 text-left">Exercícios Compatíveis</th>
            <th class="py-3 px-4 text-left">Status</th>
            <th class="py-3 px-4 text-center" colspan="2">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @machines.each do |machine| %>
            <tr class="border-b border-[#393939]">
              <td class="py-3 px-4"><%= machine.name %></td>
              <td class="py-3 px-4"><%= machine.description %></td>
              <td class="py-3 px-4"><%= machine.compatible_exercises.reject(&:blank?).join(', ') %></td>
              <td class="py-3 px-4"><%= machine.status.capitalize %></td>
              <td class="py-3 px-4 text-center">
                <%= link_to 'Ver', machine_path(machine), class: "text-blue-500 underline" %>
              </td>
              <td class="py-3 px-4 text-center">
                <%= link_to 'Editar', edit_machine_path(machine), class: "text-blue-500 underline" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
