<h1>Machines</h1>

<%= link_to 'New Machine', new_gym_machine_path(@gym) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Compatible Exercises</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.name %></td>
        <td><%= machine.description %></td>
        <td><%= machine.compatible_exercises.join(', ') %></td>
        <td><%= machine.status %></td>
        <td>
          <%= link_to 'Show', gym_machine_path(@gym, machine) %>
          <%= link_to 'Edit', edit_gym_machine_path(@gym, machine) %>
          <%= link_to 'Destroy', gym_machine_path(@gym, machine), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
