<div class="w-full min-h-screen bg-[#030a08] flex flex-col items-center p-0 overflow-x-hidden">
  <!-- Top Navigation -->
  <div class="top-navigation w-full max-w-[428px] h-[70px] bg-[#a52502] rounded-bl-[30px] rounded-br-[30px] relative mb-2" data-controller="navigation" data-navigation-exercise-set-id-value="<%= @exercise_set.id %>">
    <div class="absolute inset-0 bg-[#ff8137] opacity-20 rounded-bl-[30px] rounded-br-[30px]"></div>
    <div class="absolute inset-0 flex items-center justify-between px-4">
      <%= link_to 'javascript:history.back()', class: "w-8 h-8 bg-[#0e0e0e]/10 rounded-full border backdrop-blur-sm flex items-center justify-center" do %>
        <i class="fa fa-arrow-left text-white text-sm"></i>
      <% end %>
      <div class="flex-1 text-center">
        <div class="text-white text-base font-semibold">Execução</div>
      </div>
    </div>
  </div>

  <!-- Exercise Details -->
  <div class="w-full max-w-[428px] bg-[#151c1c] rounded-[30px] p-4 mb-4">
    <div class="text-white text-base font-semibold mb-2"><%= @exercise_set.exercise.name %></div>

  <!-- Gráfico Container -->
  <div class="mb-4">
    <div class="w-full md:w-96 h-52 relative"
        data-controller="chart"
        data-chart-data-value="<%= @arduino_data.map { |datum| datum.value } %>"
        data-chart-labels-value="<%= @arduino_data.map { |datum| datum.recorded_at.strftime('%b %d') } %>">
      <%= turbo_frame_tag 'arduino_chart' do %>
        <canvas id="chart-1" class="w-full h-full"></canvas>
      <% end %>
    </div>
  </div>

    <!-- Details Section -->
    <div data-controller="reps-series" data-reps-series-exercise-set-id-value="<%= @exercise_set.id %>">
      <div class="flex justify-between my-3 text-white text-sm">
        <div class="flex flex-col items-center">
          <div data-reps-series-target="reps" class="text-base font-semibold"><%= @last_reps %></div>
          <div class="text-[#9c9c9c] text-xs">Repetições</div>
        </div>
        <div class="flex flex-col items-center">
          <div data-reps-series-target="sets" class="text-base font-semibold"><%= @last_series_number %></div>
          <div class="text-[#9c9c9c] text-xs">Série</div>
        </div>
        <div class="flex flex-col items-center">
          <div class="text-base font-semibold" id="fixed-weight"><%= @exercise_set.weight %>kg</div>
          <div class="text-[#9c9c9c] text-xs">Carga</div>
        </div>
      </div>

      <div class="flex justify-between my-3 text-white text-sm">
        <div data-controller="rest-time"
            data-exercise-set-id="<%= @exercise_set.id %>"
            data-series-completed="<%= @exercise_set.sets > 0 %>"
            class="flex flex-col items-center">
          <div data-rest-time-target="value" class="text-xl font-semibold text-[#ff8900]"><%= @exercise_set.rest_time %>s</div>
          <div class="text-[#d9d9d9] text-xs">Tempo de repouso</div>
        </div>
        <div class="flex flex-col items-center">
          <div class="text-xl font-semibold text-white"><%= @exercise_set.energy_consumed %> CAL</div>
          <div class="text-[#d9d9d9] text-xs">Calorias Totais</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Counter Buttons -->
  <div data-controller="weight" data-exercise-set-id="<%= @exercise_set.id %>" class="flex items-center justify-center mb-4">
    <button data-action="click->weight#decrease" class="bg-[#912002] text-white rounded-full w-8 h-8 flex items-center justify-center text-lg">-</button>
    <div data-weight-target="value" class="text-center text-white text-[50px] mx-2"><%= @exercise_set.weight %>kg</div>
    <button data-action="click->weight#increase" class="bg-[#912002] text-white rounded-full w-8 h-8 flex items-center justify-center text-lg">+</button>
  </div>

  <!-- Bottom Navigation -->
  <div class="bottom-navigation w-full max-w-[428px] bg-[#0e0e0e] rounded-t-[30px] p-3 mt-auto flex justify-around items-center" data-controller="navigation" data-navigation-exercise-set-id-value="<%= @exercise_set.id %>">
    <div class="text-white text-sm"><i class="fa fa-home"></i></div>
    <div class="text-white text-sm"><i class="fa-solid fa-chart-column"></i></div>
    <%= link_to edit_exercise_set_path(@exercise_set.id), class: "bg-[#a52502] rounded-full p-3" do %>
      <i class="fa-solid fa-stop text-white text-lg"></i>
    <% end %>
    <div class="text-white text-sm"><i class="fa fa-calendar-alt"></i></div>
    <div class="text-white text-sm"><i class="fa fa-user"></i></div>
  </div>

</div>
