<!-- app/views/exercise_sets/show.html.erb -->
<h1>Detalhes do ExerciseSet</h1>

<p><strong>Exercício:</strong> <%= @exercise_set.exercise.name %></p>
<p><strong>Máquina:</strong> <%= @exercise_set.machine.name %></p>
<p><strong>Reps:</strong> <%= @exercise_set.reps %></p>
<p><strong>Sets:</strong> <%= @exercise_set.sets %></p>
<p><strong>Peso:</strong> <%= @exercise_set.weight %></p>
<p><strong>Duração:</strong> <%= @exercise_set.duration %></p>
<p><strong>Descanso:</strong> <%= @exercise_set.rest_time %></p>
<p><strong>Intensidade:</strong> <%= @exercise_set.intensity %></p>
<p><strong>Feedback:</strong> <%= @exercise_set.feedback %></p>
<p><strong>Máximo de Reps:</strong> <%= @exercise_set.max_reps %></p>
<p><strong>Performance:</strong> <%= @exercise_set.performance_score %></p>
<p><strong>Nível de Esforço:</strong> <%= @exercise_set.effort_level %></p>
<p><strong>Energia Consumida:</strong> <%= @exercise_set.energy_consumed %></p>

<h2>Dados do Arduino</h2>
<%= turbo_stream_from "arduino_data_channel" %>
<%= turbo_frame_tag 'arduino_chart' do %>
  <%= render 'arduino_data', arduino_data: @arduino_data %>
<% end %>


<%= button_to 'Concluir ExerciseSet', complete_exercise_set_path(@exercise_set), method: :post %>
