<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Muscle Group:</strong>
  <%= @exercise.muscle_group %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @exercise.difficulty %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @exercise.instructions %>
</p>

<p>
  <strong>Variants:</strong>
  <%= @exercise.variants %>
</p>

<p>
  <strong>Equipment Needed:</strong>
  <%= @exercise.equipment_needed %>
</p>

<p>
  <strong>Contraindications:</strong>
  <%= @exercise.contraindications %>
</p>

<p>
  <strong>Benefits:</strong>
  <%= @exercise.benefits %>
</p>

<p>
  <strong>Duration Suggested:</strong>
  <%= @exercise.duration_suggested %>
</p>

<p>
  <strong>Frequency Recommended:</strong>
  <%= @exercise.frequency_recommended %>
</p>

<p>
  <strong>Progression Levels:</strong>
  <%= @exercise.progression_levels %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
