<!DOCTYPE html>
<html>
<head>
  <title>SpierFit</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%# <link rel="preload" href="https://cdn.jsdelivr.net/npm/html5-qrcode/minified/html5-qrcode.min.js" as="script"> %>
  <%= yield :head %>
</head>

<body class="bg-[#0e0e0e] min-h-screen flex flex-col">

    <!-- Flash messages -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>


  <% if current_page?(root_path) %>
    <header class="p-4 bg-gray-900 w-full flex justify-between items-center">
      <!-- Logo -->
      <div>
        <%= image_tag 'logo_300x175.png', alt: 'Logo SpierFit', class: 'h-8' %>
      </div>
      <!-- Navigation for logged-in users -->
      <% if user_signed_in? || personal_signed_in? || gym_signed_in? %>
        <nav class="flex justify-end">
          <% if user_signed_in? %>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
          <% elsif personal_signed_in? %>
            <%= button_to "Log Out", destroy_personal_session_path, method: :delete, class: 'btn btn-danger' %>
          <% elsif gym_signed_in? %>
            <%= button_to "Log Out", destroy_gym_session_path, method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </nav>
      <% end %>


    </header>
  <% else %>
    <!-- Outro conteúdo de cabeçalho para páginas não-raiz pode ser colocado aqui -->
  <% end %>
  <main class="flex-grow flex items-center justify-center">
    <%= yield %>
  </main>
</body>
</html>
