<div class="w-full min-h-screen flex flex-col items-center bg-[#0e0e0e]">
  <div class="w-full max-w-[450px] p-3 space-y-6">
    <h2 class="text-2xl font-bold text-white mb-6">Cadastre-se</h2>

    <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), class: "space-y-4") do |form| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= form.label :name, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.text_field :name, autofocus: true, class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="field">
        <%= form.label :email, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.email_field :email, class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="field">
        <%= form.label :password, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="field">
        <%= form.label :password_confirmation, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="field">
        <%= form.label :phone, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.text_field :phone, class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="field">
        <%= form.label :address, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.text_field :address, class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="field">
        <%= form.label :status, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.text_field :status, class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="field">
        <%= form.label :date_of_birth, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.date_field :date_of_birth, class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="field">
        <%= form.label :height, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.number_field :height, class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="field">
        <%= form.label :weight, class: "block text-sm font-medium text-[#6a6a6a]" %>
        <%= form.number_field :weight, class: "mt-1 block w-full bg-[#202020] text-white border border-[#393939] rounded-[30px] shadow-sm focus:ring-[#a52502] focus:border-[#a52502]" %>
      </div>

      <div class="actions">
        <%= form.submit "Cadastre-se", class: "w-full bg-gradient-to-b from-[#a52502] to-[#390d02] text-white font-bold py-2 px-4 rounded-[30px] hover:bg-[#a52502]" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
