<div class="w-full min-h-screen flex flex-col items-center justify-center bg-[#0e0e0e] p-4">
  <div class="w-full max-w-[350px] space-y-8">
    <%= image_tag 'logo_300x175.png', alt: 'Logo SpierFit', class: 'w-full max-w-[250px] h-auto mx-auto mt-4 mb-8' %>
    <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), local: true, class: "space-y-6 w-full") do |form| %>
      <%= devise_error_messages! %>

      <div class="w-full bg-[#303030] rounded-[100px] px-6 py-4 flex items-center gap-4">
        <div class="w-32 text-center text-white text-lg font-medium font-['Manrope']">Nome</div>
        <%= form.text_field :name, autofocus: true, autocomplete: "off", class: "bg-transparent border-none text-white flex-1 text-lg focus:outline-none focus:ring-0 focus:border-transparent caret-transparent" %>
      </div>

      <div class="w-full bg-[#303030] rounded-[100px] px-6 py-4 flex items-center gap-4">
        <div class="w-32 text-center text-white text-lg font-medium font-['Manrope']">Senha</div>
        <%= form.password_field :password, autocomplete: "new-password", class: "bg-transparent border-none text-white flex-1 text-lg focus:outline-none focus:ring-0 focus:border-transparent caret-transparent" %>
      </div>

      <div class="w-full bg-[#303030] rounded-[100px] px-6 py-4 flex items-center gap-4">
        <div class="w-32 text-center text-white text-lg font-medium font-['Manrope'] whitespace-nowrap">E-mail</div>
        <%= form.email_field :email, autocomplete: "off", class: "bg-transparent border-none text-white flex-1 text-lg focus:outline-none focus:ring-0 focus:border-transparent caret-transparent" %>
      </div>


      <div class="w-full bg-[#303030] rounded-[100px] px-6 py-4 flex items-center gap-4">
        <div class="w-32 text-center text-white text-lg font-medium font-['Manrope']">Telefone</div>
        <%= form.telephone_field :phone, class: "bg-transparent border-none text-white flex-1 text-lg focus:outline-none focus:ring-0 focus:border-transparent caret-transparent" %>
      </div>

      <div class="w-full bg-[#a52502] rounded-[100px] flex justify-center items-center gap-6 py-4">
        <%= form.submit "Registrar", class: "w-full text-center text-white text-lg font-bold font-['Manrope']" %>
      </div>
      <% end %>

      <div class="w-full mt-8 flex flex-col items-center space-y-4">
        <p class="text-center text-white text-lg">Já tem uma conta?</p>
        <div class="w-full bg-[#a52502] rounded-[100px] flex justify-center items-center gap-6 py-4">
          <%= link_to "Entrar", new_user_session_path, class: "w-full text-center text-white text-lg font-bold font-['Manrope']" %>
        </div>
      </div>



  </div>
</div>
